.col3 {
  width: 150px;
  height: 300px;
  margin: 10px;
  float: left;
  overflow: hidden;
}
.card {
  width: 150px;
  height: 300px;
  overflow: hidden;
  border: 1px solid;
}
.img {
  border: 1px solid black;
  width: 70%;
  height: 200px;
}
.title {
  text-decoration-line: "underline";
  color: black;
}
