body {
   background: white;
 
  min-height: 100vh;
  font-family: 'Sanchez', serif;
   background-image: url("https://images.unsplash.com/photo-1544716278-e513176f20b5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTJ8fHxlbnwwfHx8fA%3D%3D&w=1000&q=80");
   background-repeat: no-repeat;
   background-size: cover
}

#button-addon1 {
  color: #ffc371;
}

i {
  color: #0000cc;
  font-size: 20px;}

.form-control::placeholder {
  font-size: 0.95rem;
  color: #aaa;
  font-style: italic;
}

.form-control.shadow-0:focus {
  box-shadow: none;
}

 
.display-3{
  font-family: 'Sanchez', serif;
}

p{
  font-family: 'Tajawal', sans-serif;
}

.lead{
  font-family: 'Sanchez 200', serif;
}

